Jinja2~=3.1.5
Pygments~=2.18.0
Falcon~=4.0.2
pytest==7.2.1

# NOTE binary wheels of berkeleydb are not distributed - on Debian this may
# require installing build-essentials, python3-dev and libdb-dev
# NOTE keep in sync with wheel version in the Dockerfile
berkeleydb==18.1.10
