body{margin:20px;background:black;font-family:'Lucida Grande', Verdana, Arial, Sans-Serif;font-size:0.9em;color:#787878;}
h1, h2, h3{font-family:'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;font-weight:bold;color:black;}
h1{font-size:1.3em;}
h2{font-size:1.2em;border-bottom:1px solid #565F68;}
h3{font-size:1.1em;}
ul, ol, dt, dl{margin-top:0.5em;}
li, dd{margin-top:0.35em;}
a{text-decoration:none;border-bottom:1px dotted #999999;color:#0A0A0A;}
code{font-family:Monaco, "Courier New", Courier, monospace;font-size:1em;color:black;background-color:inherit;padding:0 0.1em;}
pre{font-family:Monaco, "Courier New", Courier, monospace;font-size:1em;padding:1em;color:White;background-color:#a9afd1;overflow:auto;}
a:hover{background:none;}
#wrapper{width:940px;margin:0 auto;padding:20px;background:white;}
#header{width:940px;height:158px;margin:0 auto;background:white url(images/img01.jpg) no-repeat left top;}
#language{float:left;width:auto;margin:47px 0 0 10px;}
#language a{border-style:none;}
#language img{border-style:none;}
#logo h1{text-align:right;margin:0;padding:10px 20px 0 5px;letter-spacing:-1px;text-transform:capitalize;font-size:2.6em;color:white;background-color:inherit;border:none;}
#logo h2{text-align:right;margin:0;padding:10px 20px 0 5px;text-transform:capitalize;font:bold 1.2em Arial, Helvetica, sans-serif;color:white;background-color:inherit;border:none;}
#logo p{text-align:right;margin:0;padding:10px 20px 0 5px;text-transform:capitalize;font:bold 1.0em Arial, Helvetica, sans-serif;color:white;background-color:inherit;}
#logo a{border:none;background:none;text-decoration:none;color:white;background-color:inherit;border:none;}
#search{float:right;width:auto;}
#search form{height:30px;margin:0;padding:20px 20px 0 0;}
#search fieldset{margin:0;padding:0;border:none;}
#search-text{width:200px;border:none;text-transform:lowercase;font:bold 1.2em Arial, Helvetica, sans-serif;color:black;background-color:white;}
#search-submit{display:none;}
#menu2{width:940px;height:2em;margin:0 auto;padding:0;border-top:1px white solid;color:white;background:#565F68;}
#menu2 ul{margin:0;padding:0;list-style:none;line-height:normal;}
#menu2 li{float:left;width:auto;}
#menu2 a{display:block;padding:0.2em 0.8em 0.5em 1em;text-transform:uppercase;text-decoration:none;font-family:Arial, Helvetica, sans-serif;font-size:0.9em;font-weight:bold;color:white;background-color:inherit;border:none;}
#menu2 a:hover, #menu .current_page_item a{color:white;background-color:inherit}
#menu2 a:hover{text-decoration:underline;}
#topbar{width:940px;height:1.8em;border-top:1px white solid;margin-bottom:1em;background:#565F68;color:white;font-weight:bold;font-size:0.95em;}
#topbar p{padding:0.3em 0 0 0.3em;height:0.95em;margin:0;}
#topbar a{color:#D3D3D3;border:none;}
#page{width:940px;margin:0 auto;}
#page img{border:none;}
#content{float:right;width:680px;padding:10px 10px 0 0;}
.post{}
.post .title{color:black;background-color:inherit;}
.post .title a{background:none;color:black;border:none;background-color:inherit;}
.post .title a:hover{text-decoration:underline;}
.post .meta{text-align:left;font-family:Arial, Helvetica, sans-serif;font-size:0.7em;}
.post .entry{padding:0 0 1em 0;text-align:justify;}
#sidebar{float:left;width:200px;padding:10px 0 0 10px;color:#787878;}
#sidebar ul{margin:0;padding:0;list-style:none;}
#sidebar li ul{padding-bottom:2em;}
#sidebar li li{line-height:1.5em;padding-bottom:0.5em;border-bottom:1px dashed #D2D4C9;}
#sidebar h2{letter-spacing:-.5px;color:black;background-color:inherit;}
#sidebar p{padding-bottom:20px;text-align:justify;}
#sidebar a{color:#787878;border:none;}
#sidebar a:hover{text-decoration:underline;color:#787878;}
#footer{width:940px;margin:0 auto;padding:20px 0 15px 0;background:#565F68;font-family:Arial, Helvetica, sans-serif;color:#B2B2B2;}
#footer p{margin:0;line-height:normal;font-size:0.6em;text-transform:uppercase;text-align:center;}
#footer a{color:white;background-color:inherit;}
.alignright{float:right;width:auto;}
.alignleft{float:left;width:auto;}
#respond{margin:0;padding-top:2em;}
.navigation{}
.pagetitle{padding-bottom:0;}
hr{display:none;}
p.question{margin:0;font-weight:bold;color:#5d6cb4;}
p.summary{font-size:1em;font-weight:bold;color:#5d6cb4;}
img.right{float:right;width:auto;margin:2em 0 1.4em 2em;}
img.right-top{float:right;width:auto;margin:0em 0 1.4em 2em;}
img.left{float:left;width:auto;margin:2em 2em 1.4em 0;}
table.listing{border-collapse:collapse;border-style:none;border-spacing:0;}
table.listing th{color:white;background:#6d7dd1;font-weight:normal;padding:0.25em 0.25em;text-align:center;border-width:thin;border-color:black;border-style:solid;}
table.listing td{text-align:left;padding:0.25em 0.25em;border-width:thin;border-color:black;border-style:solid;}
.listing-even{color:white;background-color:#6d7dd1;}
.listing-odd{background-color:transparent;}
.listing .listing-even a{color:white;background-color:#6d7dd1;}
#lxrcode{background-color:white;font-weight:bold;}
#lxrcode pre{font-family:Monaco, "Courier New", Courier, monospace;font-size:0.95em;padding:1em;color:#787878;overflow:auto;background-color:white;}
#lxrcode a{color:black;background-color:white;}
#comments{margin-top:3em;}
.commentlist li, #commentform input, #commentform textarea{font:0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;}
.commentlist li ul li{font-size:0.95em;}
.commentlist li{list-style-type:none;margin:0em 1em 1em -3em;padding:1em;}
.commentlist cite, .commentlist cite a{font-style:normal;font-size:1.05em;}
.commentlist p{padding-top:1em;font-weight:normal;line-height:1.5em;text-transform:none;}
.thread-alt{background-color:#f8f8f8;}
.thread-even{background-color:white;}
.depth-1{border:1px solid #ddd;}
.depth-2, .depth-3, .depth-4, .depth-5{border-left:1px solid #ddd;}
