<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }}</title>
        <meta name="description" content="Elixir Cross Referencer - Explore source code in your browser - Particularly useful for the Linux kernel and other low-level projects in C/C++ (bootloaders, C libraries...)">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        <link rel="stylesheet" href="/style.css?v=5">
        <link rel="stylesheet" href="/banner.css">
        <link rel="stylesheet" href="/autocomplete.css">
        <base href="{{ baseurl }}"/>
        <script>document.documentElement.className = 'js'</script>
    </head>
    <body>
        <!--[if lte IE 9]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <div class="wrapper">
            {% include 'header.html' %}
            {% include 'topbar.html' %}
            <main>
                <div class="workspace">
                    <div id="reference-popup-wrapper">
                        <div id="reference-popup"></div>
                        <div id="loading-popup">Loading...</div>
                    </div>
                    {% block main %}
                    {% endblock %}
                </div>
                {% include "sidebar.html" %}
            </main>
            <footer class="footer">
                <span class="version">
                    <a href="{{ current_tag_urlencoded }}/source">{{ current_project }}</a>
                    <em class="icon-tag">{{ current_tag }}</em>
                </span>
                <a title="Go to top of the page" class="go-top icon-up screenreader"
                   href="{{ current_url }}#">
                    Top
                </a>
                <span class="poweredby">powered by <a target="_blank" href="https://github.com/bootlin/elixir">Elixir 2.2</a></span>
            </footer>
        </div>
        <script src="/script.js?v=3"></script>
        <script src="/dynamic-references.js?v=3"></script>
        <script src="/autocomplete.js" project="{{ current_project }}"></script>
    </body>
</html>
