<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <title>
        {% block title %}
            Bootlin - Elixir Cross Referencer
        {% endblock %}
        </title>
        <meta name="description"
            content="
            {%- block description -%}
            Elixir Cross Referencer - Explore source code in your browser - Particularly useful for the Linux kernel and other low-level projects in C/C++ (bootloaders, C libraries...)
            {%- endblock %}">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        <link rel="stylesheet" href="/static/style.css?v=11">
        <link rel="stylesheet" href="/static/banner.css">
        <link rel="stylesheet" href="/static/autocomplete.css?v=2">
        <script>
            document.documentElement.classList.remove('no-js');
            document.documentElement.classList.add('js');

            //NOTE: placing this here, instead of script.js makes the sidebar less likely to flash on navigation
            const showSidebarStr = window.localStorage.getItem('show-sidebar');
            const showSidebar = showSidebarStr == "true" || showSidebarStr == null;
            if (showSidebar) {
              // special class that opens the sidebar only on widescreen devices
              document.documentElement.classList.add('show-menu');
            }
        </script>
    </head>
    <body>
        <!--[if lte IE 9]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <div class="wrapper">
            {% include 'header.html' %}
            {% include 'topbar.html' %}
            <main>
                {% include "sidebar.html" %}
                <div class="workspace">
                    <div id="reference-popup-wrapper">
                        <div id="reference-popup"></div>
                        <div id="loading-popup">Loading...</div>
                    </div>
                    {% block main %}
                    {% endblock %}
                </div>
            </main>
            <footer class="footer">
                <span class="version">
                    <a href="{{ source_base_url }}">{{ current_project }}</a>
                    <em class="icon-tag">{{ current_tag }}</em>
                </span>
                {% block footer %}
                {% endblock %}
                <a title="Go to top of the page" class="go-top icon-up screenreader" href="#">
                    Top
                </a>
                <span class="poweredby">powered by <a target="_blank" href="https://github.com/bootlin/elixir">Elixir 2.2</a></span>
            </footer>
        </div>
        <script src="/static/script.js?v=12"></script>
        <script src="/static/dynamic-references.js?v=4"></script>
        <script src="/static/autocomplete.js" project="{{ current_project }}"></script>
    </body>
</html>
