<aside class="sidebar" id="menu">
    <select class="select-projects" onchange="window.location.href=this.value">
    {%- for p in projects %}
        <option {% if p.name == current_project -%} selected {%- endif %} value="{{ p.url }}">{{ p.name }}</option>
    {%- endfor %}
    </select>
    <nav>
        <h3 class="screenreader">Projects</h3>
        <ul class="projects">
        {%- for p in projects %}
            <li {%- if p.name == current_project %} class="active" {% endif -%}><a href="{{ p.url }}">{{ p.name }}</a></li>
        {%- endfor %}
        </ul>

        <h3 class="screenreader">Versions</h3>
        <ul class="versions">
            {% for major, major_versions in (versions|default({})).items() %}
            <li>
                <span>{{ major }}</span>
                <ul>
                {% for minor, minor_versions in major_versions.items() %}
                    {% if minor == minor_versions[0] and minor_versions|length == 1 %}
                        <li class="li-link {{ 'active' if minor == current_tag else '' }}">
                            <a href="{{ minor_versions[0].url }}">{{ minor_versions[0].version }}</a>
                        </li>
                    {% else %}
                        <li>
                            <span>{{ minor }}</span>
                            <ul>
                                {% for v in minor_versions %}
                                    <li class="li-link {{ 'active' if v.version == current_tag else '' }}">
                                        <a href="{{ v.url }}">
                                            {{ v.version }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>

    </nav>
</aside>
