{% extends "layout.html" %}

{% block title %}
    {{ title_path }} {{ current_project|capitalize }} source code {{ current_tag }} - Bootlin
{% endblock %}

{% block description -%}
    Elixir Cross Referencer - source file of {{ current_project|capitalize }} (version {{ current_tag }}). Browsed file: {{ '/' if path|length == 0 else path }}
{%- endblock %}

{% block main %}
<div class="lxrcode">
    {{ code }}
</div>
{% endblock %}

{% block footer %}
<span id="file-download-link">
    <a href="?raw">Download file</a>
</span>
{% endblock %}

